<div class="container ml-5">
    <div class="row">
        <h1>Burgers</h1>
    </div>

    <div class="row">
        <div class="col">
            <ul>
                {{#each burgers}}
                <li>
                    <p> ID : {{this.id}} </p>
                    <p> Burger: {{this.burger_name}} </p>
                    <p> Eaten: {{this.devoured}}</p>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="col">
            {{#each burgers}}
            {{#if this.devoured}}
            <div class='eaten'>
                <div>
                    {{this.burger_name}}
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>


    {{!-- displays the sql data onto root directory --}}




    {{!-- button that will submit user input into database --}}
    <h2> Order another burger! </h2>

    <form action="/burgers" method="POST" id="create-form" class="button-size">
        <label for="bur">Burger Type</label>
        <input type="text" id="bur" name="burger_name">
        <button type="submit">Add burger!</button>
    </form>
{{!-- 
    <form class="create-form" action="/burgers" method="POST">
        <div class="form-group">
            <label for="bur">Burger Type</label>
            <input type="text" id="bur" name="burger_name">
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div> --}}


{{!-- 
<script type="text/javascript">
    $("#bur").on("submit", function (event) {
        event.preventDefault();

        var newBurger = {
            burger_name: $("#bur [name=burger]").val().trim()
        };

        $.ajax("/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("new burger?");
                location.reload();
            }
        );
    });

</script> --}}