body {
    background-image: url('../img/FlamboyantConcernedBorzoi-small.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: bottom right;
}
